<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <center>
   <div class="container-fluid">
      <h1>Welcome to Petfinder</h1>
      <h3>What would you want to see!</h3>
      <form method="post" action="/result">
        Zip code : <input type="text" name="zipcode" size="30"><br>
        Type of animal: <br>
         <input type="radio" name="animal" value="cat"> Cat<br>
         <input type="radio" name="animal" value="dog"> Dog<br>
        <input type="submit" value="search">
      </form>
    </div>
  </center>
  </body>
</html>

    
  </body>
</html>

