<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>

    
    <div class="container-fluid">
      <% i = -1%>
      <% 25.times do%>
        <% i += 1%>

        <h1><%= @user_choices.pets_name[i]%> <%= @user_choices.pets_shelter[i]%></h1>
        <!--<p>Would you like to go to this shelter</p>-->
      <% end%>
    </div>
    
  </body>
</html>